<h1><%= @user.name %>'s Posts</h1>
<%= render 'users/user', user: @user %>

<div class="user-posts-container row">
  <h3>All Posts</h3>
  <% @posts.each do |post| %>
    <div class="user-post">
      <%= link_to "/users/#{@user.id}/posts/#{post.id}" do %>
        <h4><%= post.title %></h4>
      <% end %>
        <p><%= post.text %></p>
        <p class="user-post-engagements">
            Comments: <%= post.comments_counter.to_i %>, Likes: <%= post.likes_counter.to_i %>
        </p>
    </div>
    <div class="user-post-comment">
      <% post.recent_comments.each do |comment| %>
        <p><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>
      <% end %>
    </div>
  <% end %>
</div>
<div class="post-pagination">
  <% if @posts.any? %>
  <% if @posts.any? %>
  <div class="pagination">
    <% if @posts.previous_page %>
      <%= link_to 'Previous', user_posts_path(@user, page: @posts.previous_page) %>
    <% end %>

    <% if @posts.next_page %>
      <%= link_to 'Next', user_posts_path(@user, page: @posts.next_page) %>
    <% end %>
  </div>
<% end %>
  <% end %>
</div>
