<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container-fluid header-container">
      <div class="container header-content row">
        <div class="col-6 head-title"><a href="/">Blog App</a></div>
        <div class="col-2 head-button">
          <% if user_signed_in? %>
            <%= link_to 'New Post', new_user_post_path(@user), class: 'btn btn-primary' %>
          <% end %>
        </div>
        <div class="col-2 head-button">
          <% if user_signed_in? %>
            <%= link_to "Update Profile", edit_user_registration_path %>
          <% end %>
        </div>
        <div class="col-2 head-button">
          <% if user_signed_in? %>
          <%= form_tag(logout_path, method: :delete) do %>
            <%= submit_tag "Logout" %>
          <% end %>
          <% end %>
        </div>
      </div>
    </header>
    <main class="container main-container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <footer class="container-fluid footer-container">
    </footer>
  </body>
</html>
