<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container-fluid header-container">
      <div class="container header-content row">
        <div class="col-6 head-title"><a href="/">Blog App</a></div>
        <div class="col-6 head-button"><a href="/posts/new">New Post</a></div>
      </div>
    </header>
    <main class="container main-container">
      <%= yield %>
    </main>
    <footer class="container-fluid footer-container">
    </footer>
  </body>
</html>
